
  .prices_oderCart{
      justify-content: center;
      border-left: 1px solid black;
      border-right: 1px solid black;
      padding: 10px;
  }
  .name_oderCart{
      padding: 10px;
      width: 30%;
      border-left: 1px solid black;
  }
  .btn_oderCart{
      padding: 10px;
      width: 10%;
  }
  .sum_oder{
      padding: 10px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      width: 20%;
  }
  .ship_oder{
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      width: 90%;
  }
  .ship_oder1{
      display: flex;
      width: 100%;
  }
  .ship_oder1 p{
      width: 20%;
      padding-left: 30px;
  }
  .ship_oder1 .shipodersum{
      width: 80%;
      text-align: end;
      padding-right: 5%;
  }
  .ship_oder2{
      display: flex;
  }
  .ship_oder2 p{
      width: 40%;
      padding-left: 30px;
  }
  .ship_oder2 h5{
      width: 60%;
      text-align: end;
      padding-right: 5%;
  }
  .voucher_oder{
      text-align: center;
      width: 90%;
      border-top: 1px solid black;
      padding: 10px;
  }
  .sum_oderCart{
      display: flex;
      width: 90%;
  }
  .sum_oderCart p{
      width: 20%;
      padding-left: 30px;
  }
  .sum_oderCart h5{
      width: 80%;
      text-align: end;
      padding-right: 5%;
  }
  
  #Pay{
      margin-top: 200px;
      border: 1px solid black;
  }
  #product_oder{
      border-left: 1px solid black;
      padding: 20px;
  
  }
  #ship_pay{
      padding: 20px;
      padding-left: 20%;
      padding-right: 5%;
  }
  #ship_pay h3{
      font-weight: bold;
  }
  .mail{
      margin-top: 2%;
      margin-bottom: 2%;
  }
  .mail .email{
      margin-right: 5%;
  }
  .ship_home{
      border: 1px solid black;
      padding: 10px;
  }
  .shiper{
      border: 1px solid black;
      padding: 10px;
  }
  .shiper_pay{
      border: 1px solid black;
      padding: 10px;
  }
  .pay{
      text-align: end;
      margin-top: 20px;
  }
  .pay button{
      padding: 8px;
      font-size: 15px;
  }